{%extends 'base.html' %}
{% block title %}login{% endblock %}
{% load static %}


{% block slider2 %}
<div class="hero_area">
  <div class="bg-box">
    <img src=  "{% static 'images/55.jpg' %}"  alt="" style="filter: blur(5px); outline: 0px;" >
  </div>
   
<section class="book_section">
  <div class="form_container"style="margin-top:50px ;">
 
    <h2 style="text-align: center; color: #d4caca; margin-bottom:13px;">Login Your Account</h2>
    {% for message in messages %}
    <h5 style="font-family: italic; color:bisque"><strong>{{message}}</strong></h5>
    {% endfor %}
    <form action="/auth/login/" style="margin: 0 auto; width: 400px;" method="post">
      {% csrf_token %}
      <!-- <input type="text" class="form-control" placeholder="Your Name" style="margin-bottom: 7px;" /> -->
      <!-- <input type="text" class="form-control" placeholder="Phone Number" style="margin-bottom: 7px;" /> -->
      <h5 style="color: aliceblue; font-family: cursive; font-family: 'Dancing Script';"><span><i class="fa fa-envelope"></i> Email</span></h5>
      <input style="margin-bottom:13px;" type="email" name="email" id="email" class="form-control" placeholder="" style="margin-bottom: 7px;" />
      <h5 style="color: aliceblue; font-family: cursive; font-family: 'Dancing Script';"><span><i class="fa fa-key"></i> Password</span></h5>
      <input style="margin-bottom:13px;" type="password" name="pass1" id="pass1" class="form-control" placeholder="" style="margin-bottom: 7px;" />
      <button type="submit" style="margin-top: 10px; ">Login</button>
      <div style="color: beige; margin-top: 5px; "> <i class="fa fa-user" style="margin-right: 5px;"></i>New User  ? <a href="/auth/signup/" style="margin-left:8px; color: rgb(235, 180, 42);">Signup</a></div>
      <div style="color: beige; margin-top: 5px;">
        <a href="/auth/forgot-password/" style="color: beige;">Forgot Password</a>
    </div>
    </form>
  </div>
</section>
{% endblock slider2 %}
</div>

{% block contant %}
{% endblock %}
{% block footer %}

{% endblock footer %}
