{%extends 'base.html' %}
{% block title %}About{% endblock %}
{% load static %}

{% block slider2 %}
{% endblock slider2 %}

{% block content %}


<!-- start about section -->
<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      {% for obj in objs %}
      <div class="col-lg-5 col-md-6">
        
        <div class="detail-box">
          <h2>
            {{obj.name}}
          </h2>
          <p>
            {{obj.objective}}
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-md-6">
        <div class="img-box">
          <img src="{{obj.img2.url}}" alt="">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- end about section -->
{% endblock content %}



