{% extends 'base.html' %} 
{% load static %}
{% block title %}Menu{% endblock title %}

{% block slider2 %}
{% endblock slider2 %}

{% block content %}  
<!-- Offers Section -->
<section class="offer_section layout_padding-bottom" style="background: linear-gradient(to right, #a34526, #f4d49d); color: white;" >
  <div class="offer_container">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Our Offers</h2>
      </div>
      <div class="row">
        {% for offer in offers %}
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{{ offer.img.url }}" alt="image not found">
            </div>
            <div class="detail-box">
              <h5>{{ offer.Offer_name }}</h5>
              <h6>
                <span>{{ offer.Offer }}</span> Off
              </h6>
              <a href="#">
                Order Now
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block body %}
<style>
  .filters_menu li.active {
    color: #fff;
    background-color: #ff9800;
    border-radius: 5px;
    padding: 5px 10px;
  }
</style>
<section class="food_section layout_padding-bottom" style="background: linear-gradient(to right, #a34526, #f4d49d); color: white;" >
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our Menu</h2>
    </div>

    <!-- Filter Menu -->
    <ul class="filters_menu">
      <li class="{% if category_filter == 'all' %}active{% endif %}" data-filter="all">
        <a href="{% url 'menu' %}?category=all&q={{ query|default:'' }}">All</a>
      </li>
      <li class="{% if category_filter == 'burger' %}active{% endif %}" data-filter="burger">
        <a href="{% url 'menu' %}?category=burger&q={{ query|default:'' }}">Burger</a>
      </li>
      <li class="{% if category_filter == 'pizza' %}active{% endif %}" data-filter="pizza">
        <a href="{% url 'menu' %}?category=pizza&q={{ query|default:'' }}">Pizza</a>
      </li>
      <li class="{% if category_filter == 'pasta' %}active{% endif %}" data-filter="pasta">
        <a href="{% url 'menu' %}?category=pasta&q={{ query|default:'' }}">Pasta</a>
      </li>
      <li class="{% if category_filter == 'fries' %}active{% endif %}" data-filter="fries">
        <a href="{% url 'menu' %}?category=fries&q={{ query|default:'' }}">Fries</a>
      </li>
    </ul>

  

    <!-- Products Display -->
    <div class="filters-content" >
      {% if query %}
        <h4>Results for "{{ query }}"</h4>
      {% endif %}
      <div class="row grid">
        {% for product, range, nSlides in allProds %}
          {% for item in product %}
            <div class="col-sm-6 col-lg-4 all" data-category="{{ item.category|lower }}">
              <div class="box">
                <div class="img-box">
                  <img src="{% if item.image %}/media/{{ item.image }}{% else %}{% static 'images/placeholder.png' %}{% endif %}" alt="{{ item.product_name }}" class="product-image">
                </div>
                <div class="detail-box">
                  <h5>{{ item.product_name }}</h5>
                  <p>{{ item.desc|slice:"0:53" }}...</p>
                  <div class="options">
                    <h6>${{ item.price }}</h6>
                    <button class="add-to-cart-btn" data-id="{{ item.id }}" data-name="{{ item.product_name }}" data-price="{{ item.price }}">
                      <span>Add to Cart</span>
                      <img src="{% static 'images/cart.png' %}" style="width: 20px; height: 20px;" alt="Cart" class="fa fa-shopping-cart">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>




    <!-- <div class="filters-content">
      <div class="row grid">
        {% for product, range, nSlides in allProds %}
          {% for item in product %}
            <div class="col-sm-6 col-lg-4 all" data-category="{{ item.category|lower }}">
              <div class="box">
                <div class="img-box">
                  <img 
                    src="{% if item.image %}/media/{{ item.image }}{% else %}{% static 'images/placeholder.png' %}{% endif %}" 
                    alt="{{ item.product_name }}" 
                    class="product-image"
                  >
                </div>
                <div class="detail-box">
                  <h5>{{ item.product_name }}</h5>
                  <p>{{ item.desc|slice:"0:53" }}...</p>
                  <div class="options">
                    <h6>${{ item.price }}</h6>
                    <button
                      class="add-to-cart-btn" 
                      data-id="{{ item.id }}" 
                      data-name="{{ item.product_name }}" 
                      data-price="{{ item.price }}"
                      style="background: linear-gradient(to right, #803434, #B8860B); display: flex; align-items: center; justify-content: center; width: 150px; padding: 10px; border: none; color: white; font-weight: bold; font-size: 14px; border-radius:20px;">
                      <span style="margin-right: 8px;">Add to Cart</span>
                      <img src="{% static 'images/cart.png' %}" style="width: 20px; height: 20px;" alt="Cart" class="fa fa-shopping-cart" id="popcart" data-toggle="popover" data-placement="bottom">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</section> -->

<!-- Popover for Cart -->
<button id="popcart" type="button" class="btn btn-warning" style="display:none;" data-toggle="popover" title="Cart Items" data-content="">
  View Cart
</button>


<!-- End Portfolio Section -->

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
 
<script>
  // Cart functionality using localStorage
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
  }

  // Add to Cart click handler
  $('.add-to-cart-btn').click(function() {
    var id = $(this).data('id');
    var name = $(this).data('name');
    var price = $(this).data('price');

    if (cart[id] != undefined) {
      cart[id][0] += 1; // Increment quantity
    } else {
      cart[id] = [1, name, price]; // Add new item with quantity 1
    }

    updateCart(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length; // Update cart count
    updatePopover(cart); // Update popover content
  });

  // Update cart popover
  function updatePopover(cart) {
    var popStr = "<h5>Cart for your items</h5><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart) {
      popStr += "<b>" + i + "</b>. " + cart[item][1].slice(0, 19) + "... <b>" + cart[item][0] + "</b> Qty<br>";
      i++;
    }

    popStr += "</div><a href='/checkout'><button class='btn btn-success'>Checkout</button></a> <button class='btn btn-dark' onclick='clearCart()'>Clear Cart</button>";
    $('#popcart').attr('data-content', popStr);
    $('#popcart').popover('show');
  }

  // Clear cart functionality
  function clearCart() {
    cart = {};
    localStorage.clear();
    updateCart(cart);
    updatePopover(cart);
    document.getElementById('cart').innerHTML = 0;
    $('#popcart').popover('hide');
  }

  // Update cart display
  function updateCart(cart) {
    var sum = 0;
    for (var item in cart) {
      sum += cart[item][0];
    }
    document.getElementById('cart').innerHTML = sum; // Update cart count
  }

  // Initialize popover
  $('#popcart').popover();

  // Filter functionality (filter by category)
  $(document).ready(function() {
    var $grid = $('.grid').isotope({
      itemSelector: '.all',
      layoutMode: 'fitRows'
    });

    $('.filters_menu').on('click', 'li', function() {
      var filterValue = $(this).attr('data-filter');
      $grid.isotope({ filter: filterValue });
      $('.filters_menu li').removeClass('active');
      $(this).addClass('active');
    });
  });
</script>
{% endblock body %}
